---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Text from "../components/Text.astro";

const articles = [
  {
    title: "Outdoor Adventures",
    content: [
      "Embrace the great outdoors with these exhilarating activities: Hiking: Trek through scenic trails and breathtaking landscapes, from rugged mountains to lush forests.",
      "Camping: Sleep under the stars and reconnect with nature in national parks and wilderness areas.",
      "Trekking: Embark on multi-day hikes to remote destinations, exploring diverse terrains and ecosystems.",
    ],
  },
  {
    title: "Water Sports",
    content: [
      "Dive into aquatic adventures that promise fun and relaxation: Surfing: Ride the waves at world-renowned surf spots, from the shores of Hawaii to the beaches of Bali.",
      "Scuba Diving: Explore vibrant coral reefs, underwater caves, and marine life in crystal-clear waters around the globe.",
      "Snorkeling: Discover colorful fish, sea turtles, and coral gardens in tropical destinations like the Maldives and Belize.",
    ],
  },
  {
    title: "Extreme Sports",
    content: [
      "Push your limits with adrenaline-pumping activities: Skydiving: Experience the thrill of freefalling from high altitudes, enjoying breathtaking aerial views as you descend.",
      "Bungee Jumping: Leap from towering bridges or platforms, feeling the rush of adrenaline as you bounce back skyward.",
      "Rock Climbing: Scale vertical cliffs and challenging rock formations, with opportunities for both indoor and outdoor climbs.",
    ],
  },
];
---

<Layout
  title="Adventure & Activities"
  lang="en"
  metaTitle="adventure-activities"
  metaDescription="Adventure awaits those who seek excitement and immersive experiences while traveling.  "
  metaRobots="index, follow"
>
  <main>
    <h1>Adventure & Activities</h1>
    <ul role="list" class="link-card-grid">
      <Card
        href="/destinations"
        title="Destinations"
        body="Discover the world's most captivating destinations."
      />
      <Card
        href="/travel-tips"
        title="Travel-tips"
        body="Make your travel experience seamless and enjoyable with our expert travel tips."
      />
      <Card
        href="/adventure-activities"
        title="Adventure-activities"
        body="For the thrill-seekers and adventure lovers."
      />
      <Card
        href="/travel-stories"
        title="Travel-stories"
        body="Get inspired by real-life travel stories from fellow wanderers."
      />
    </ul>
  </main>
  <div class="text_wrap">
    {
      articles.map((article, index) => (
        <Text key={index} title={article.title} content={article.content} />
      ))
    }
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .text_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
