---
export interface Props {
  title: string;
  content: string[];
}

const { title, content } = Astro.props;
---

<article>
  <h2 class="text_title">{title}</h2>
  {
    content.map((paragraph, index) => (
      <p class="text" key={index}>
        {paragraph}
      </p>
    ))
  }
</article>

<style>
  .text_title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
  }
  .text {
    line-height: 2;
    font-weight: 500;
  }
</style>
